opencode.json
.opencode

checkpoints/*
datasets/*
log/*

auto-round_scripts/auto_round_results/
auto-round_scripts/eval_results/
auto-round_scripts/**/__pycache__/
auto-round_scripts/**/*.pyc

allq/**/__pycache__/
allq/**/*.pyc

LiftQuant/cache/*
LiftQuant/qmodels/*
LiftQuant/**/__pycache__/
LiftQuant/**/*.pyc

lm_eval/

*.tar.gz
