# Do not put SSH private keys, GitHub PATs, or passwords in this file.
# Quote values that contain spaces.
AUTOGIT_REPO_PATH=/srv/projects/project-a
AUTOGIT_REMOTE_NAME=origin
AUTOGIT_SYNC_BRANCH=autogit-sync
AUTOGIT_INTERVAL_SECONDS=30
AUTOGIT_GIT_TIMEOUT_SECONDS=60
